.header,
.checkin-button,
.checkin-list {
  text-align: center;
  margin: 20px 0;
}
.map {
  height: 300px;
}
.list-item {
  border-bottom: 2px solid #CCC;
  padding: 5px;
  margin: 5px;
}
.form-buttons {
  text-align: center;
}
.modal-body .form-group button {
  padding: 5px 30px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.modal-header h4 {
  margin: 0;
}
.no-geolocation {
  text-align: center;
  padding: 5px;
  font-size: 18px;
}
